@import "tailwindcss";

@font-face {
   font-family: Mgbold;
   src: url(/fonts/Microgramma\ D\ Extended\ Bold.otf);
}

.mgbold {
  font-family: "Mgbold", sans-serif;
}

*{
   box-sizing: border-box;
}


html,body{
   height: 100%;
   width: 100%
}

.michroma-regular {
  font-family: "Michroma", sans-serif;
  font-weight: 400;
  font-style: normal;
}
